DEBUG=true
# API port (dev + `python main.py`); same default as nginx upstream + PM2
HABITTRACKER_PORT=9210
FIREBASE_WEB_API_KEY=sdvsdvsdv
FIREBASE_AUTH_DOMAIN=sdvsdvsdv
FIREBASE_PROJECT_ID=sdvsdvsdv
FIREBASE_STORAGE_BUCKET=sdvsdvsdv
FIREBASE_MESSAGING_SENDER_ID=sdvsdvsdv
FIREBASE_APP_ID=sdvsdvsdv
FIREBASE_MEASUREMENT_ID=sdvsdvsdv
